@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nanum+Gothic+Coding:wght@700&family=Pathway+Gothic+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
body {
    font-family: "Playfair Display", serif;    
    margin: 0;
    	color:#153448;
    
}

.blue-banner{
	display:flex;
	 position: relative; 
  background-color: #153448;
  color: white;
  width: 100%;
  height: 5vh; 
  justify-content:center;
  align-items:center;
}

.NavBar{
	top: 5vh;
	user-select: none;
	display: flex;
    align-items: center;
    justify-content:center;
	position:fixed;
	z-index: 5;
    background-color: white;
	width:100%;
	 transition: background-color 0.3s ease, color 0.3s ease , top 0.1s ease; 
}

.NavBar.transparent {
    background-color: transparent; 
    
}


.logo-link{
	display:flex;
	flex-direction:row;
}

.Logo{
	  width: 37%;
      height:37%;
      margin-left:10px;
      margin-right:10px;  
}

.NavBar.scrolling{
	top: 0;
}

.NavBar a:visited, 
.NavBar a:focus, 
.NavBar a:active{
	transition: color 0.3s ease; 
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 33%; 
 font-size:30px;
 letter-spacing:1px;
 text-decoration:none;
 padding:5px;
}


.link-container{
	 font-family: "Sometype Mono", system-ui;
	
 display: flex;
    width: 33%; 
    height: auto; 
}

.contact-link{	
	display:flex;
	 align-items: flex-end;
    justify-content: flex-end;
    width:33%;
    	 font-family: "Sometype Mono", system-ui;
    
}


.navbar-brand{	
  font-weight:600;
  letter-spacing: 2px;
  text-decoration:none;
  font-size: 28px;
  position: relative;
  background-color:transparent;
  margin-left:20px;
}

.navbar-brand a{
	color:#153448;
}

.heart-container{
	background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('/images/heart.png');
    width: 36px;
    height: 36px;
    transition: background 0.3s ease;      
}

.heart-container-product{
	background-repeat: no-repeat;
    background-position: center center;
        background-size: contain;
    
    background-image: url('/images/heart.png');
    width: 36px;
    background-color:transparent;
    height: 36px;
    cursor:pointer;
    transition: background 0.3s ease;  
    border:none;
}

.icon-container{
	
	
	margin-left:20px;
	display: block;
    width: 36px;
    height: 36px;
}

.cart-container{
		 background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
	 width: 36px;
    height: 36px;
    background-image: url('/images/bag.png');
    transition: background 0.3s ease;
}

.NavBar .heart-container:not(.inside-image):hover,.heart-container-product:hover {
    background:url('/images/heart(1).png') ;
	background-repeat: no-repeat;
    background-position: center center;
        background-size: contain;
}

.NavBar .heart-container.inside-image:hover {
	width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('/images/heartWhiteFill.png'); 
}

.NavBar .cart-container.inside-image {
    background-image: url('/images/bagWhite.png'); 
}

.NavBar .cart-container.inside-image:hover {
    background-image: url('/images/bagWhiteFill.png'); 
}

.NavBar .heart-container.inside-image {
    background-image: url('/images/heartWhite.png'); 
}

.cart-container:hover{
    background: url('/images/bag(1).png') no-repeat center;
}


.heart-container:hover .favorites-popup.favorites-minilist{	
  visibility: visible;
  transform: translateY(-5%);
  opacity: 1;
}

.heart-container.inside-image:hover .favorites-popup{	
 
  color:#153448;
}

.heart-container:not(:hover) .favorites-popup {
  visibility: hidden; 
  opacity: 0;
  transform: translateY(-10%);
}

.minifave-product-name{
	font-family:"Playfair Display", serif;
}


.favorites-popup {
  visibility: visible;
  position: absolute;
  top: 65px; 
  transform: translateY(-15%);
  opacity: 1; 
  z-index:10000;
 transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 450px;
  overflow:auto;
  max-height:69vh;  
}

.favorites-minilist{
	margin-top:5px;
	list-style: none;
}

.favorites-minilist li,ul{
	padding:3px;
} 


li{
	margin-top:5px;
	display:flex;
	flex-direction: row;
}

.minifavorite-info{
		margin-top:5%;
	
	display:flex;
	flex-direction: column;
	width:300px;
	margin-left:30px;
	font-size:28px;
	letter-spacing:1px;
}

.minifavorite-info span{
	padding: 5px 0 5px 0;
}

.favorites-popup img{
  width: 150px;
}

.navbar-brand:hover:after {    
    width: 100%;
}

.navbar-brand:after { 
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #333;
    transition: width 0.3s ease-in-out;
}

.collection-select {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3.125rem;
    background: url('/images/MainBackground.png');
    background-size: cover; 
    background-position: center;
}

.Woman-collection, .Men-collection {
    width: 100%;
}

.collection-link {
    cursor: pointer;
    margin: 1.25rem;
    height: 100vh;
    font-size: 3rem;
    text-decoration: none; 
    padding: 1.25rem;
    font-weight: bold;
}

.women-link {
		margin-top:10%;
		color:#153448;
	
    display: block;
    justify-content: flex-start;
    align-items: flex-start; 
}

.women-link span,
.men-link span{
	
	border: 2px solid #153448;
    border-radius: 0.625rem;
    transition: background-color 0.4s;
    background-color: transparent;
	padding:10px 20px 10px 20px;
	background-color: white;
}

.men-link {
		color:#153448;
	
	margin-bottom:5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.util-button {
    display: flex;
    cursor: pointer;
    width: 34.375rem;
    height: 4.375rem;
    color:#153448;
    border: 2px solid #153448;
    border-radius: 0.625rem;
    transition: background-color 0.4s;
    background-color: transparent;
	font-family: "Sometype Mono", system-ui;
    font-weight:bold;
    font-size: 1.5rem;
    letter-spacing: 0.125rem;
    margin: 0.9375rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.util-button:hover,
.sizeChartBtn:hover,
.FAQ-option:hover,
.write-option:hover,
.send-button:hover,
.women-link span:hover,
.men-link span:hover,
.homepage-return-link:hover{
    color: white;
    background-color: #153448;
}

.contact-us-title {
    margin-top: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.625rem;
    margin-bottom: 2.5rem;
}

.contact-div {
    display: flex;
    justify-content: center;
    padding: 1.875rem;
    margin-bottom: 2.5rem;
}

.footer {
	font-family: "Sometype Mono", system-ui;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #153448;
    justify-content: center;
    height:68vh;
}

.footerDiv-1, .footerDiv-2, .footerDiv-3 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 1.5rem;
    margin: 0 1.25rem;
    padding: 1.875rem;
    color: white;
}

.footer-link {
    padding: 0.9375rem;
}

.copyright {
    justify-content: center;
    display: flex;
    grid-column: 2;
    color: white;
}

.collection-title {
    font-size: 1.5625rem;
    padding: 0.625rem;
    margin-left: 1.5625rem;
    margin-top: 2.5rem;
}

.footer-link {
    padding: 0.9375rem;
}

.copyright {
    justify-content: center;
    display: flex;
    grid-column: 2;
    color: white;
}

.collection-title {
    font-size: 1.5625rem;
    padding: 0.625rem;
    margin-left: 2rem;
    margin-top: 8rem;
}

.product-container {
    margin: 0.625rem;
    padding: 2.5rem 6.25rem 6.25rem 6.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
}

.product .image-link img{
	width:563px;
	height:706px;
}


.product-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}



.product-name {
    font-size: 34px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #153448;
    font-weight: bolder;
    text-decoration: none;
}

.product-name:hover {
    text-decoration: underline;
}

.moer-tag{
	  margin-top: 10px;
    margin-bottom: 15px;
	font-size:18px;
	    font-family: "Sometype Mono", system-ui;
	
}

.price {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
    font-family: "Sometype Mono", system-ui;
	font-weight:bold;
}

.selection-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.collection-choice {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width:95%;
    justify-items: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    margin-bottom: 10%;
}

.select-women-collection {
	 background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('/images/ZeneSlika2.png');
    height: 600px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s, background-image 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.collection-link{
	font-size:55px;
}


.select-men-collection {
  	 background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('/images/MuskarciSlika2.png');
    height: 600px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s, background-image 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.select-men-collection:hover{
	
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.4)), url('/images/MuskarciSlika2.png');
}

.select-women-collection:hover{
	
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.4)), url('/images/ZeneSlika2.png');
}

.product-wrapper{
	margin-top:8vh;
   display: grid;
   grid-template-columns: 1fr 1fr;
max-width: 100vw;  
    box-sizing: border-box;  
}

.info-buttons button{
	width:90%;
}

.product-images {
    margin: 0 auto;
    width: 100%; 
    padding: 40px 0 0 0; 
    box-sizing: border-box; 
}

.product-image-main img,.product-image-main{
    width: 90vh; 
    height: 70vh; 
}

.product-image-sub {
    display: flex;
    flex-direction: row; 
    height: auto; 
    width: 22.5vh; 
}

.product-image-sub img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.title-div{
	    font-family: "Playfair Display", serif;    
	
	display:flex;
	flex-direction: column;
}

.info-buttons{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  margin:55px;
  padding: 15px;

}

.product-info-wrapper{
	margin:70px;
	padding-top: 40px;
			  font-family: "Sometype Mono", system-ui;
	
}

.product-title{
	font-size: 38px;
}

.color-select{
	margin-top:20px;
	margin-bottom:20px;
	font-size:28px;
}

.color-select label,.color-select span{
	font-size:28px;
}

.custom-checkbox{
    display: flex;
    cursor: pointer;
    font-size: 24px;
    align-items:center;
    padding: 10px;
    font-family: "Sometype Mono", system-ui;
    
}


.additional-info-wrapper{
	padding: 10px;
	display:flex;
	flex-direction: column;
	font-size:32px;
}

.material-info-div{
	display:flex;
	flex-direction:column;
	margin-bottom:5%;	
}

.material-info-div span{
	padding-top:2%;
}


.custom-checkbox input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-left: 12px;
    position: relative;
}

.custom-checkbox input[type="radio"]:checked {
    background-color: #153448;
    border-color: #153448;
}

.custom-checkbox input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

.size-price{
	display: flex;
  	flex-direction: row;  	
	
}

select {
	width: 200px;
	height: 50px;
	font-family: "Playfair Display", serif;	
    padding: 5px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right:20px;
}

select:focus {
    border-color: #153448;
    outline: none;
}


select option {
    padding: 10px;
    background-color: white;
	color:#153448;
    font-size: 16px;
}

select:active,
select option:hover {
    background-color: #f1f1f1;
    color: #153448;
}

.sizeChartBtn,.send-button {
	border:2px solid #153448;
	border-radius: 10px;
	transition: background-color 0.4s ease;
	font-family: "Sometype Mono", system-ui;
    padding: 10px 20px;
    background-color: transparent;
	color:#153448;
    cursor: pointer;
    font-size: 20px;
    width: 250px;
    margin-bottom: 1vh;
}


.popup {
    display: none;
    position: fixed;
    right: 0;
    top: 20%;
    z-index:10;
    width: 500px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

.popup-content {
    padding: 20px;
    text-align: center;
}

.popup .close-btn {
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
}

.popup .close-btn:hover {
    color: #000;
}

.popup table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.popup table th, 
.popup table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.popup table th {
    background-color: #f2f2f2;
}

.popup table tbody tr:hover {
    background-color: #f9f9f9;
}

.selection-wrapper{
	    width:100%;
	    margin-top:8%;
	
}

.contact-us-title{
	font-size:52px;
}

.contact-choice {
    margin-top: 5%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width:70%;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 10%;
}


.FAQ-option,
.write-option{
	
	margin:10px;
	width:100%;
	height:250px;
	background-color: transparent;
	color:#153448;
    cursor: pointer;
    font-size: 40px;
    border:2px solid #153448;
	border-radius: 10px;
	transition: background-color 0.4s ease;
	    font-family: "Sometype Mono", system-ui;
	    font-weight:bold;
	letter-spacing: 2px;	
	margin-bottom: 12%;
}

.FAQ-option{
	margin-right:8%;
}

.write-option{
	margin-left:8%;
}


.contact-email-div{
	font-size: 24px;
	font-weight:bold;
	display:flex;
	justify-content:center;
	margin-bottom:2%;
}


.faq-items{
	    font-family: "Sometype Mono", system-ui;
	
	position:absolute;
	margin-right: 37.5%;
	width:34.71%;
	padding:30px;
	height:300px;
	margin-bottom: 20px;
	 opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
	
}

.faq-items.show {
    opacity: 1;
    transform: translateY(0);
}

.faq-item {
  margin-bottom: 10px;
}


.faq-question {
	height:25px;
  background-color: transparent;
  cursor: pointer;
	color:#153448;
  cursor: pointer;
  font-size: 22px;
  display:flex;
  align-items:left;
  justify-content:left;
  padding: 10px 20px 10px 20px;
  border:2px solid #153448;
  border-radius: 10px;
}

.faq-question img{
	margin-left: auto;
	margin-top: 5px;
}

.faq-answer {
  
  margin-top:10px;
	color:#153448;
  border:2px solid #153448;
  border-radius: 6px;
  padding:10px;
  cursor: pointer;
  font-size: 22px;
  display: none;
  height: 0;
  align-items:center;
  overflow: hidden;
  transition: height 0.3s ease;

}



.faq-answer.open{
  display: block;
  height: 30px;
}


.faq-item .faq-question .arrow {
    transition: transform 0.3s ease; 
	
}

.write-block {
	    font-family: "Sometype Mono", system-ui;
	
    margin-left: 37.5%;
    width: 34.71%;
    position: absolute;
    flex-direction: column;
    height: 300px;
    margin-bottom: 16px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.write-block.show {
    opacity: 1;
    transform: translateY(0);
}

form{
	display:flex;
	flex-direction: column;
}

.fullname{
	padding: 20px 0 20px 0;
}

.fullname input{
	width:44.4%;
	padding-right: 23px;
}
.credentials{
	font-family: "Sometype Mono", system-ui;	
	height: 22px;
	border:2px solid #153448;
	padding: 5px;
  	border-radius: 6px;
  	font-size: 16px;
}

.user-text{
	resize:none;
	padding: 10px;
	margin-bottom:20px;
	margin-top:20px;
	height: 200px;
	border:2px solid #153448;
	border-radius: 6px;
  	font-size: 16px;
}


.favorites-wrapper {
	margin-top:6%;
	padding: 15px;
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap:20px;    
    justify-items: center;
    align-items:center;
}

.favorite-display-div{
	display:flex;
	flex-direction:column;
}

.favorite-item {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
	width:85vh;
	align-items:top;
	margin:0 0 7% 0;
}

.favorite-item img {
    width: 35vh;
    height: 40vh; 
    border: 2px solid #153448;
    border-radius: 6px;
}

.favorites-util-btn{
	width:35vh;
	margin:auto 0 0 0;
}

.favorite-info {
    margin-left: 8%;
    justify-content:top;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    line-height: 2;
    letter-spacing:1px;
}

.cart-section {
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.cart-title {
		margin-top:6%;
	
	font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.cart-wrapper {
    padding: 30px;
}

.product-details,
.quantity-wrapper,
.total-wrapper {
    font-size: 30px;
    border-bottom: 1px solid #153448;
    padding-bottom: 20px;
}

.cart-title-sub {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #153448;
    font-family: "Sometype Mono", system-ui;
    font-weight:bold;
}

.cart-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40px;
}

.cart-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: top;
    font-size: 30px;
}

.cart-item-info span {
    padding: 3px;
}

.cart-item img {
    margin-top: 20px;
    width: 100%;
    max-width: 170px;
    height: auto;
}

.cart-product-name{
	font-size:30px;	
}

.total-div span{
	font-family: "Sometype Mono", system-ui;
}


.cart-product-span{
	  font-family: "Sometype Mono", system-ui;
}

.cart-product-price{
	font-weight:bold;
}

.quantity-wrapper {
    text-align: center;
}

.remove-from-cart{
		  font-family: "Sometype Mono", system-ui;
		 border:none;
		 text-decoration:underline;
		 font-size:26px;
}

.quantity-div {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    height:75%;
}

.quantity-btn {
    background-color: #f9f9f9;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Playfair Display", serif;
}

.quantity-input {
    width: 40px;
    height: 34px;
    text-align: center;
    border: none;
    font-size: 18px;
    font-family: "Playfair Display", serif;
}

.quantity-input-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    border: 1px solid #153448;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.quantity-btn.minus,
.quantity-btn.plus {
    width: 36px;
}

.quantity-div a {
    text-decoration: underline;
}

.total-wrapper {
    text-align: right;
}

.total-div{	
	height:75%;
	display:flex;
	font-size:24px;
	justify-content:center;
	flex-direction:column;
	align-items:right;
	text-align:right;
	margin-bottom:20px;
}

.confirm-order-div {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
}

.confirm-order-div span {
    font-size: 24px;
    margin-bottom: 30px;
}



.steps-div{
	font-family: "Playfair Display", serif;
	font-size:bold;
	text-align:center;
}

.pay-info-wrapper{
	margin:7% auto 5% auto;
	display:grid;
	grid-template-columns:1fr 1.02fr;
	width: 90%; 
	
}

.info-form{
	visibility:visible;
	margin-bottom:3%;
}

.pay-info-div{
	margin-right:2%;
}

.pay-info-div input{
	padding:10px 20px 10px 20px;
	 box-sizing: border-box;
	 height:5vh;
}

.country-select{
		margin:0;
		 width: 100%; 
}

.pay-info-div h2{
	font-size:30px;
}

.country-notice{
	font-size:12px;
	color:red;
}

.postalcode-city input,
.fullname-checkout input{
	margin-top:10px;
    width: 49.7%;
	margin-bottom:10px;
}

.address-apartment{
	overflow: none;
}

.address-apartment input,
.phoneNum-creds{
    width: 100%;
	margin-top:10px;
	margin-bottom:10px;
}

.products-in-cart{
	background-color:white;
	border-left:3px solid #153448;
}

.product-in-cart{
	padding: 20px 40px 20px 40px;
	display:flex;
	flex-direction:row;
	height:auto;
}

.save-info input{
	height:auto;
}

.product-in-cart img{ 
	width:110px;
	height:150px;
}

.payout-info{
	font-size: 22px;	
	font-weight:bold;
	letter-spacing:1px;
	margin-left:30px;	
}

.price-before-shipping{
	display:grid;
	grid-template-columns:1fr 1fr;
	padding: 20px 40px 20px 40px;
	font-size:1.5rem;
	letter-spacing:1px;
	line-height: 35px;
}

.taxes-text{
	padding: 10px 40px 10px 40px;
	font-size:16px;
	letter-spacing:1px;	
}

.cart-total{
	font-weight:bold;
	font-size: 24px;
	margin-left: auto;
	align-self:center;
}

.right-side-text{
	text-align:right;
}

.bold{
	font-weight:bold;
	font-size:1.5rem;
	letter-spacing:2px;
}

.action-div{
	width:100%;
	display:flex;
	justify-content:space-between;
	font-size: 18px;
	margin-top:10px;
	align-items:center;	
}

.continue-shipping{
	width:30vh;
	margin-bottom: 0;
		font-size: 18px;
	
}

input[type="checkbox"]:checked {
    accent-color: #153448; 
}

.shipping-info-div{
		width:88vh;
		margin-top:30px;
	visibility:hidden;
	position:absolute;
	border:1px solid #153448;	
	border-radius: 6px;
	padding:15px;
	height:auto;
}

.shipping-contact ,
.shipping-address {
	display:flex;
	justify-content: space-between;
	font-size:28px;
	padding:3%;
	letter-spacing:1px;
}

.shipping-address{
	border-top: 1px solid #153448;;
}

.shipping-contact .change-button,
.shipping-address .change-button{
text-decoration:underline;
background:transparent;
		font-size:28px;
		border:none;
		font-family: "Playfair Display",serif;
}

.shipping-contact input,
.shipping-address input{
	background:transparent;
		font-size:28px;
		border:none;
		font-family: "Playfair Display",serif;
		width:70%;
		text-align:center;	
		 white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.payment-method{
	visibility:hidden;	
	margin-top:30px;
	position:absolute;
	display:flex;
	flex-direction:column;
	width:95%;
	margin-right:20%;
}

.payment-method h2{
	margin-bottom:5px;
}

.payment-option{
	margin-top:30px;
	display:flex;
	padding:20px;
	font-size: 20px;
	border:1px solid #153448;	
	border-radius: 6px;
	align-items:center;
}

#selectedOption{
	accent-color:#153448;
	width:16px;
	height:16px;
}

.success-popup-wrapper{
	visibility:hidden;
	z-index:10;
	margin-top:4%;	
	width:90%;
	position:fixed;
	justify-items:center;
	align-items:center;
}

.success-popup{
	height:40vh;
	background-color:white;
	width:40%;
	display:flex;
	flex-direction:column;
	margin-left:auto;
	margin-right:auto;
	align-items:center;
	justify-content:center;
	text-align:center;
	
}



.success-popup span{
	padding:3%;
}

.successful-order-text{
	font-size:22px;
	font-family: "Sometype Mono", system-ui;	
}

.successful-order-title{
	font-size:42px;
	font-family: "Playfair Display",serif;
}

.homepage-return-link{
	font-family: "Sometype Mono", system-ui;
	margin-top:2%;
	margin-bottom:2%;
	padding: 10px;
	border:1px solid #153448;	
	background-color:white;
	color:#153448;
	border-radius: 6px;
	transition: background 0.3s;
	text-decoration:none;
	width:50%;
	font-size:20px;
	
}

.overlay{
	 position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9; 
    display: none;
}

.empty-cart-div{
	margin-top:10%;
	margin-bottom:10%;
 	text-align:center;
 	font-size:3rem;
}