<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="MainCss.css">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Cart</title>
</head>
<body>
	
	<th:block th:replace="~{layout::header}"></th:block>
	
	<div class="cart-section">
		
			
	<div class="cart-title">
	<h1>Korpa</h1>
	</div>
	
	<div th:if="${cartItems == null or #lists.isEmpty(cartItems)}" class="empty-cart-div">
		<span>The cart is currently empty!</span>
	</div>
	
	<div class="cart-wrapper"  th:if="${cartItems != null and !#lists.isEmpty(cartItems)}">
		
		<div class="cart-content"  th:each="item: ${cartItems}">
			
			<div class="product-details">
			
			<span class="cart-title-sub">Proizvod</span>
			<div class="cart-item">
			
			<img class="item-image" th:src="${item.imageUrl}">
			
			<div class="cart-item-info">
			
			<span class="cart-product-name" th:text="${item.productName}"></span>
			<span class="cart-product-span cart-product-color" th:text="'Boja: '+${item.productColor}"></span>
			<span class="cart-product-span cart-product-size" th:text="'Veličina: '+${item.productSize}"></span>
			<span class="cart-product-span cart-product-price" th:text="${item.price}+',00 RSD'"></span>
			
			</div>
				
			</div>
				
		</div>
		
			<div class="quantity-wrapper">
			<span class="cart-title-sub">Kolicina</span>
			
				<div class="quantity-div">
					<div class="quantity-input-div">
					  <button class="quantity-btn minus">-</button>
        			  <input type="number" class="quantity-input" value="1" min="1">
        			  <button class="quantity-btn plus">+</button>
					</div>
					
					<form th:action="@{/RemoveFromCart}" method="post">
						 <input type="hidden" name="productName" th:value="${item.productName}"> 
						 <input type="hidden" name="productColor" th:value="${item.productColor}">
		        		<input type="hidden" name="productSize" th:value="${item.productSize}">
    					<button type="submit" class="remove-from-cart">Ukloni</button>
								
					</form>
		
				</div>

				</div>
				
		
		<div class="total-wrapper">
				<span class="cart-title-sub">Ukupno</span>
			
			<div class="total-div">
				<span class="current-product-total"th:text="${item.price}+',00 RSD'"></span>
			</div>
			
			</div>
		
			
		
		
		</div>
		
		<div class="confirm-order-div">
				
		<button type="button" class="proceed-to-payment sizeChartBtn" th:onclick="'window.location.href=\'' + @{/Checkout} + '\''">Nastavite</button>

	</div>
		
	</div>
	
	
		
	</div>
	<th:block th:replace="~{layout::footer}"></th:block>
	<th:block th:replace="~{layout::Scripts}"></th:block>

</body>
</html>