<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="MainCss.css">
<link rel="stylesheet" href="ResponsiveCss.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Browse our collection of men’s and women’s apparel, featuring stylish sweaters and turtlenecks. Discover your favorite new look today!">
    <meta name="robots" content="index, follow">
   
    <meta property="og:title" th:content="${gender}+' Collection - Luan Moer'">
    <meta property="og:description" th:content="'Discover the ' + ${productName} + '. Made from ' + ${materialInfo} + ', priced at ' + ${price} + '. Available in various sizes. Shop now for high-quality and stylish clothing.'">
    <meta property="og:url" content="https://example.com/collection?gender=${gender}">
    <meta property="og:type" content="product">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" th:content="${productName}">
    <meta name="twitter:description" th:content="'Discover the ' + ${productName} + '. Made from ' + ${materialInfo} + ', priced at ' + ${price} + '. Available in various sizes. Shop now for high-quality and stylish clothing.'">
    <title th:text="${gender}+' Collection - Luan Moer'"></title>
</head>
<body>

	<th:block th:replace="~{layout::header}"></th:block>

	<div class="collection-title">
		
		<h1>Kolekcija</h1>
		
		
	</div>
	
	<div class="product-container">
		
		<div class="product" th:if="${gender == 'men'}">
		
		<a class="image-link" th:href="@{/ProductInfo(name='Dzemper-Svetlo-Plavi')}">
			<img src="/images/Slika1Final.webp" alt="Blue suede patch sweater">
		</a>
			
			<div class="product-info">
			<a class="product-name" th:href="@{/ProductInfo(name='Dzemper-Svetlo-Plavi')}">Dzemper Svetlo Plavi</a>
			<span class="moer-tag">Luan Moer</span>
			<span class="price">4.999,00 RSD</span>
			</div>
			
		
		</div>
		
		<div class="product" th:if="${gender == 'women'}">
		
		<a class="image-link" th:href="@{/ProductInfo(name='Rolka-Tamno-Crvena')}">
			<img src="/images/Slika1Final.webp" alt="Dark Red Turtleneck">
		</a>
			
			<div class="product-info">
			<a class="product-name" th:href="@{/ProductInfo(name='Rolka-Tamno-Crvena')}">Rolka Tamno Crvena</a>
			<span class="moer-tag">Luan Moer</span>
			<span class="price">4.999,00 RSD</span>
			</div>
			
			
		</div>
	
	</div>
	
	<th:block th:replace="~{layout::footer}"></th:block>
	<th:block th:replace="~{layout::Scripts}"></th:block>
	
</body>
</html>