<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="MainCss.css">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Gender</title>
</head>
<body>

	<th:block th:replace="~{layout::header}"></th:block>

	<div class="collection-title">
		
		<h1>Kolekcija</h1>
		
		
	</div>
	
	<div class="product-container">
		
		<div class="product">
		
		<a class="image-link" href="@{/ProductInfo}">
			<img src="Slika1Final.webp" alt="Blue suede patch sweater">
		</a>
			
			<div class="product-info">
			<a class="product-name" th:href="@{/ProductInfo}">Dzemper Svetlo Plavi</a>
			<span class="moer-tag">Luan Moer</span>
			<span class="price">4.999,00 RSD</span>
			</div>
			
			
		</div>
		
		<div class="product">
		
		<a class="image-link" href="#">
						<img src="Slika1Final.webp" alt="Blue suede patch sweater">

		</a>
			
			<div class="product-info">
			<a class="product-name" href="#">Dzemper Svetlo Plavi</a>
			<span class="moer-tag">Luan Moer</span>
			<span class="price">4.999,00 RSD</span>
			</div>
			
			
		</div>
		
			<div class="product">
		
		<a class="image-link" href="#">
			<img src="Slika1Final.webp" alt="Blue suede patch sweater">
		</a>
			
			<div class="product-info">
			<a class="product-name" href="#">Dzemper Svetlo Plavi</a>
			<span class="moer-tag">Luan Moer</span>
			<span class="price">4.999,00 RSD</span>
			</div>
			
			
		</div>
		
		
	</div>
	
	<th:block th:replace="~{layout::footer}"></th:block>
	<th:block th:replace="~{layout::Scripts}"></th:block>
	
</body>
</html>