<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="MainCss.css">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Favorites</title>
</head>
<body>

	<th:block th:replace="~{layout::header}"></th:block>
	
	<div class="favorites-wrapper">
			
		 <div class="favorite-display-div" th:each="item: ${favoritesList}">
		
		<div class="favorite-item">
				
		<img th:src="${item.imageUrl}">
				
					
			<div class="favorite-info">
			
			<span class="cart-product-name" th:text="${item.productName}"></span>
			<span class="cart-product-span" th:text="'Boja: '+${item.productColor}"></span>
			<span class="cart-product-span"  th:text="'Veličina: '+${item.productSize}"></span>
			<span class="cart-product-span cart-product-price" th:text="${item.productPrice}+',00 RSD'"></span>
			
			<form th:action="@{/AddToCart}" method="post">
		        <input type="hidden" name="imageUrl" th:value="${item.imageUrl}">
		        <input type="hidden" name="productName" th:value="${item.productName}">
		        <input type="hidden" name="productColor" th:value="${item.productColor}">
		        <input type="hidden" name="productSize" th:value="${item.productSize}">
		        <input type="hidden" name="productPrice" th:value="${item.productPrice}">
		        <button type="submit" class="favorites-util-btn util-button">Dodaj u korpu</button>
		    </form>
			 
			</div>	
		 </div>
		</div>
		
		
		</div>
	
	<th:block th:replace="~{layout::footer}"></th:block>
		<th:block th:replace="~{layout::Scripts}"></th:block>
	
</body>
</html>