<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="MainCss.css">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Favorites</title>
</head>
<body>

	<th:block th:replace="~{layout::header}"></th:block>
	
	<div class="favorites-wrapper">
		
		<div class="favorite-item">
			
			<img src="MuskarciSlika2.png">
			
			<div class="favorite-info">
			
			<span>Ime</span>
			<span>L</span>
			<span>4999 RSD</span>
			
			</div>
			
		</div>
		
		<div class="favorite-item">
			
			<img src="MuskarciSlika2.png">
			
			<div class="favorite-info">
			
			<span>Ime</span>
			<span>L</span>
			<span>4999 RSD</span>
			
			</div>
			
		</div>
		
		<div class="favorite-item">
			
			<img src="MuskarciSlika2.png">
			
			<div class="favorite-info">
			
			<span>Ime</span>
			<span>L</span>
			<span>4999 RSD</span>
			
			</div>
			
		</div>
		
	</div>
	
	<th:block th:replace="~{layout::footer}"></th:block>
	
</body>
</html>