<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" >
<head>
<link rel="stylesheet" href="MainCss.css" >
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="header" >
		
		<div class="blue-banner">Lorem ipsum dolor sit amet</div>
		
        <nav class="NavBar">
    
    	<div class="link-container">
    		
    		<a class="navbar-brand" th:href="@{/CollectionSelection}">Kolekcija</a>   
			
			<a class="icon-container cart-container" th:href="@{/CartPage}"></a>
						
		
			<a class="icon-container heart-container" th:href="@{/FavoritesPage}">
				<div class="favorites-popup">
	  				<ul class="favorites-minilist" id="favoritesList">
      					
      				</ul>
    			<span id="emptyFavoritesMessage" style="display: block;">No favorites added yet!</span>
  				</div>
			</a>
								
    	</div>
        
        <div class="logo-container">
			<a th:href="@{/}" class="logo-container">
			<span >LUAN</span>
			<img src="logo.png" alt="Your Logo" class="Logo">
			<span >MOER</span>
			</a>
        </div>
	
	<div class="contact-link">
    		
		<a class="navbar-brand" th:href="@{/ContactPage}">Kontakt</a> 
 	
 	</div>
       
    </nav>

</div>

    <div th:fragment="footer" class="footer">
    	
    	<div class="footerDiv-1">
    		
    		<a class="footer-link">Lorem ipsum</a>
			<a class="footer-link">Lorem ipsum</a>    		
    		<a class="footer-link">Lorem ipsum</a>
    		<a class="footer-link">Lorem ipsum</a>
    		<a class="footer-link">Lorem ipsum</a>
    		
    	
    	</div>
    	
    	<div class="footerDiv-2">
    		
    		<a class="footer-link">Lorem ipsum</a>
			<a class="footer-link">Lorem ipsum</a>    		
    		<a class="footer-link">Lorem ipsum</a>
    	
    	</div>
    	
    	<div class="footerDiv-3">
    		
    		<a class="footer-link">Lorem ipsum</a>
			<a class="footer-link">Lorem ipsum</a>    		
    
    	</div>
    	
    	<p class="copyright">Copyright &copy; Luan Moer</p>
    	
    </div>
		
	  <th:block th:fragment="Scripts">
    <script src="Script.js"></script>
    <script src="Script2.js"></script>
    <script src="Script3.js"></script>
    <script src="Script4.js"></script>
</th:block>
	
				
</body>
</html>