<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="MainCss.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Payment</title>
</head>
<body>
	
	<th:block th:replace="~{layout::header}"></th:block>
	
	<div class="overlay" id="overlay"></div>
	
	
	<div class="pay-info-wrapper">
		
		<div class="success-popup-wrapper" id="success-popup-wrapper">
				<div class="success-popup">
					
						<span class="successful-order-title">Successful order</span>
						<span class="successful-order-text">Your order has been successfully completed</span>
						<span class="successful-order-text">Thank you for your trust</span>
						
						<a th:href="@{/}"class="homepage-return-link">Return to homepage</a>
					
				</div>
		</div>
			
		<div class="pay-info-div">
			
			<div class="steps-div">
				
				<h2 style="font-size:4rem;">Luan Moer</h2>
				
			</div>
				
				<form class="info-form" id="info-form" th:action="@{/Checkout}">
					
					<h2>Contact</h2>
					
					<input type="email"  placeholder="Email" class="credentials email-creds">
					
					<h2>Shipping address</h2>
										
					<div class="fullname-checkout">
        		
        		<input type="text" placeholder="First name" class="credentials name-creds">
        		<input type="text" placeholder="Last name" class="credentials lName-creds">
        		
        	</div>
        		
        		<div class="address-apartment">
        			<span class="country-notice">Obavestenje: Slanje proizvoda je trenutno moguće samo na teritoriji Republike Srbije</span>
        			<input type="text" placeholder="Address"  class="credentials address-creds">
        		
        			<input type="text" placeholder="Apartment, suite, etc. (optional)" class="credentials flat-creds">
					
        			
        		</div>
					
					<div class="postalcode-city">
        		
        		<input type="text" placeholder="Postal code" class="credentials pCode-creds">
        		<input type="text" placeholder="City" class="credentials city-creds">
        		
        	</div>
					
					<input type="tel" placeholder="Phone number"class="credentials phone-input">
					
					<div class="save-info">
						
					<input type="checkbox" class="saveInfo">
					<span>Save this information for next time</span>
											
					</div>
				
					<div class="shipping-info-div" id="shipping-info-div">
						
							<div class="shipping-contact">
							
						<span>Contact</span>
						<input class="shipping-contact-email" type="email" disabled="disabled">
						<button class="change-button">Change</button>	
						<button class="save-button" style="display:none;">Save</button>
												
						
						</div>
						
						
						<div class="shipping-address">
							
						<span>Ship to</span>
						<input class="shipping-contact-address" type="text"  disabled="disabled">
						<button class="change-button">Change</button>
						<button class="save-button" style="display:none;">Save</button>
							
						</div>
						
							<div class="payment-method" id="payment-method">
							
						<h2>Payment</h2>
						<span>All transactions are secured and encrypted</span>
						
						<div class="payment-option">
							
							<input type="radio" id="selectedOption">
							<span>Plaćanje pouzećem</span>
							
						</div>
							
						</div>
							
					</div>
									
				</form>
				
					<div class="action-div">
					
					<a> < Return to cart</a>
					
					<button type="button" class="continue-shipping sizeChartBtn" id="continuePayment">Continue to shipping</button>
					
					</div>
							
		</div>
		
		<div class="products-in-cart">
			
			<div class="price-before-shipping">
				
				<span>Subtotal</span>
				<span class="right-side-text">10.000,00 RSD</span>
				<span>Shipping</span>
				<span class="right-side-text">Calculated at next step</span>
				<span class="bold">Total</span>
				<span class="right-side-text bold" th:text="${totalPrice} + ',00 RSD'"></span>				
			
			</div>
			
			<span class="taxes-text">Including 2.120,00 RSD in taxes</span>
			
		</div>
		
	</div>
	
	    <th:block th:replace="~{layout::footer}"></th:block>
	
	<th:block th:replace="~{layout::Scripts}"></th:block>
	
		
	
</body>
</html>