<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="MainCss.css">
<meta charset="UTF-8">
<title>Product name</title>
</head>
<body>

	<th:block th:replace="~{layout::header}"></th:block>

<div th:if="${name=='Dzemper-Svetlo-Plavi'}">
	<th:block th:replace="~{ProductFragment :: product(
        mainImageUrl='Slika1Final.webp',
        smallImageUrl1='MalaSlika1.webp',
        smallImageUrl2='MalaSlika2.webp',
        smallImageUrl3='MalaSlika3.webp',
        smallImageUrl4='MalaSlika4.webp',
        productName='Dzemper Svetlo Plavi',
        materialInfo='100% premium pamuk',
        price='4999',
        sizeSelectId='sizeSelect',
        sizeChartBtnId='sizeChartBtn'
    )}"></th:block>
    
</div>
    	
    <div  th:if="${name =='Rolka-Tamno-Crvena'}" >
		<th:block th:replace="~{ProductFragment :: product(
        mainImageUrl='Slika1Final.webp',
        smallImageUrl1='MalaSlika1.webp',
        smallImageUrl2='MalaSlika2.webp',
        smallImageUrl3='MalaSlika3.webp',
        smallImageUrl4='MalaSlika4.webp',
        productName='Rolka Tamno Crvena',
        materialInfo='100% premium vuna',
        price='5999',
        sizeSelectId='sizeSelect',
        sizeChartBtnId='sizeChartBtn'
    )}"></th:block>
        
    </div>

    
	<th:block th:replace="~{layout::footer}"></th:block>
	<th:block th:replace="~{layout::Scripts}"></th:block>
		

</body>
</html>