<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
      <link rel="stylesheet" href="MainCss.css">
      <link rel="stylesheet" href="ResponsiveCss.css">
      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" th:content="'Discover the ' + ${productName} + '. Made from ' + ${materialInfo} + ', priced at ' + ${price} + '. Available in various sizes. Shop now for high-quality and stylish clothing.'">
    <meta name="robots" content="index, follow">

    <title th:text="${productName}"></title>

    <meta property="og:title" th:content="${productName}">
    <meta property="og:description" th:content="'Discover the ' + ${productName} + '. Made from ' + ${materialInfo} + ', priced at ' + ${price} + '. Available in various sizes. Shop now for high-quality and stylish clothing.'">
    <meta property="og:url" content="https://example.com/productinfo?name=${name}">
    <meta property="og:type" content="product">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" th:content="${productName}">
    <meta name="twitter:description" th:content="'Discover the ' + ${productName} + '. Made from ' + ${materialInfo} + ', priced at ' + ${price} + '. Available in various sizes. Shop now for high-quality and stylish clothing.'">
    <meta name="twitter:image" th:content="${mainImageUrl}">
    
    </head>
<body>

	<th:block th:replace="~{layout::header}"></th:block>

<div th:if="${name=='Dzemper-Svetlo-Plavi'}">
	<th:block th:replace="~{ProductFragment :: product(
        mainImageUrl='/images/Slika1Final.webp',
        smallImageUrl1='/images/MalaSlika1.webp',
        smallImageUrl2='/images/MalaSlika2.webp',
        smallImageUrl3='/images/MalaSlika3.webp',
        smallImageUrl4='/images/MalaSlika4.webp',
        productName='Dzemper Svetlo Plavi',
        materialInfo='100% premium pamuk',
        price='4999',
        sizeSelectId='sizeSelect',
        sizeChartBtnId='sizeChartBtn'
    )}"></th:block>
    
</div>
    	
    <div  th:if="${name =='Rolka-Tamno-Crvena'}" >
		<th:block th:replace="~{ProductFragment :: product(
        mainImageUrl='/images/Slika1Final.webp',
        smallImageUrl1='/images/MalaSlika1.webp',
        smallImageUrl2='/images/MalaSlika2.webp',
        smallImageUrl3='/images/MalaSlika3.webp',
        smallImageUrl4='/images/MalaSlika4.webp',
        productName='Rolka Tamno Crvena',
        materialInfo='100% premium vuna',
        price='5999',
        sizeSelectId='sizeSelect',
        sizeChartBtnId='sizeChartBtn'
    )}"></th:block>
        
    </div>

    
	<th:block th:replace="~{layout::footer}"></th:block>
	<th:block th:replace="~{layout::Scripts}"></th:block>
		 <script type="application/ld+json" th:inline="javascript">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "[[${productName}]]",
      "image": "[[${mainImageUrl}]]",
      "description": "Discover the [[${productName}]] made from [[${materialInfo}]].",
      "sku": "D12345",
      "brand": {
        "@type": "Brand",
        "name": "Luan Moer"
      },
      "material": "[[${materialInfo}]]"
      
    }
    </script>

</body>
</html>