<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="MainCss.css">
    <meta charset="UTF-8">
    <title>Product Fragment</title>
</head>
<body>
    <div th:fragment="product(mainImageUrl, smallImageUrl1, smallImageUrl2, smallImageUrl3, smallImageUrl4, productName, materialInfo, price, sizeSelectId, sizeChartBtnId)">
        <div class="product-wrapper">
            <div class="product-images">
                <div class="product-image-main">
                    <img th:src="@{${mainImageUrl}}" alt="Main product image">
                </div>
                <div class="product-image-sub">
                    <img th:src="@{${smallImageUrl1}}" alt="Small product picture 1">
                    <img th:src="@{${smallImageUrl2}}" alt="Small product picture 2">
                    <img th:src="@{${smallImageUrl3}}" alt="Small product picture 3">
                    <img th:src="@{${smallImageUrl4}}" alt="Small product picture 4">
                </div>
            </div>

            <div class="product-info-wrapper">
                <div class="info-text">
                    <div class="title-div">
                        <span class="product-title"><b th:text="${productName}"></b></span>
                    </div>

                    <div class="color-select">
                        <span class="custom-checkbox"><b>Boja:</b></span>
                        <label class="custom-checkbox">
                            Pesak bež
                            <input type="radio" name="colorSelection" value="Pesak bež" id="colorBeige">
                        </label>
                        <label class="custom-checkbox">
                            Duboka teget
                            <input type="radio" name="colorSelection" value="Duboka teget" id="colorNavy">
                        </label>
                        <label class="custom-checkbox">
                            Teget
                            <input type="radio" name="colorSelection" value="Teget" id="colorDarkNavy">
                        </label>
                    </div>

                    <div class="additional-info-wrapper">
                        <div class="material-info-div">
                            <span><b>Materijal:</b></span>
                            <span th:text="${materialInfo}"></span>
                        </div>
                        <div class="size-price">
                            <span style="font-size:30px;" th:text="${price} + ' RSD'"></span>
                            <select name="productSize" th:id="${sizeSelectId}">
                                <option value=""></option>
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                            <button th:id="${sizeChartBtnId}" class="sizeChartBtn">Vodič veličina</button>
                        </div>
                    </div>
                </div>

                <div class="info-buttons">
                    <form th:action="@{/AddToCart}" method="post">
                        <input type="hidden" name="imageUrl" th:value="${mainImageUrl}">
                        <input type="hidden" name="productName" th:value="${productName}">
                        <input type="hidden" name="productColor">
                        <input type="hidden" name="productSize">
                        <input type="hidden" name="productPrice" th:value="${price}">
                        <button type="submit" class="util-button" id="button-check">Dodaj u korpu</button>
                    </form>
                    <form id="favorites-form" th:action="@{/AddToFavorites}" class="form-favorites" method="post">
                        <input type="hidden" name="imageUrl" th:value="${mainImageUrl}">
                        <input type="hidden" name="productName" th:value="${productName}">
                        <input type="hidden" name="productColor">
                        <input type="hidden" name="productSize">
                        <input type="hidden" name="productPrice" th:value="${price}">
                        <button type="submit" class="icon-container heart-container-product" id="button-check-favorites"></button>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="sizeChartPopup" class="popup">
            <div class="popup-content">
                <span class="close-btn" aria-label="Close popup">&times;</span>
                <h2>Size Conversion Chart</h2>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>XS</th>
                            <th>S</th>
                            <th>M</th>
                            <th>L</th>
                            <th>XL</th>
                            <th>XXL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Deo 1</th>
                            <td>6</td>
                            <td>4</td>
                            <td>36</td>
                            <td>48</td>
                            <td>64</td>
                            <td>64</td>
                        </tr>
                        <tr>
                            <th>Deo 2</th>
                            <td>6</td>
                            <td>4</td>
                            <td>36</td>
                            <td>48</td>
                            <td>64</td>
                            <td>64</td>
                        </tr>
                        <tr>
                            <th>Deo 3</th>
                            <td>6</td>
                            <td>4</td>
                            <td>36</td>
                            <td>48</td>
                            <td>64</td>
                            <td>64</td>
                        </tr>
                        <tr>
                            <th>Deo 4</th>
                            <td>6</td>
                            <td>4</td>
                            <td>36</td>
                            <td>48</td>
                            <td>64</td>
                            <td>64</td>
                        </tr>
                        <tr>
                            <th>Deo 5</th>
                            <td>6</td>
                            <td>4</td>
                            <td>36</td>
                            <td>48</td>
                            <td>64</td>
                            <td>64</td>
                        </tr>
                        <tr>
                            <th>Deo 6</th>
                            <td>6</td>
                            <td>4</td>
                            <td>36</td>
                            <td>48</td>
                            <td>64</td>
                            <td>64</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>